<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="login.css" th:href="@{/css/index.css}">
    </head>
    <body>
        <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="Imagenes/user.png" th:src="@{/user.png}"/>
                </div>
                <form name="registro" class="col-12">
                    <div>
                        <input type="text" name="nombre"/>
                    </div>
                    <div>
                        <input type="password" name="password"/>
                    </div>
                    <button onclick></i>  Ingresar </button>
                </form>
                
                <div class="col-12 forgot">
                    <a href="#">Recordar contrasena?</a>
                </div>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Invalid username and password.
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            You have been logged out.
		        </div>
            </div>
        </div>
    </div>
    </body>
</html>